<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    
<nav class="navbar navbar-light bg-secondary">
    <a class="navbar-brand" href="#">
        <i class="bi bi-person-bounding-box"></i>
      Dashboard
    </a>
    <div class="nav-item">
        <a class="btn btn-primary" href="/Logout/._id"  role="button">Logout</a>
        
    </div>


  </nav>