
<div class="container py-5">
    <div class="row py-5">
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/dashboard/add_product">Add Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/view_product">View Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/view_register">View Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>

</div>