<html>

    
    <body>
        <%- include('./common/header.ejs') %>
        <img src="2.jpg" alt="image" width="400" height="200">
        

  <div class="col px-md-5"><div class="p-3 border bg-light"><h1>This is Fertilizer Product page</h1></div></div>
  
             <%- include('./common/footer.ejs') %>
        
    </body>
</html>